[submodule "hugo"]
	path = hugo
	url = https://github.com/shunkat/blog-folio.git
[submodule "origin"]
	path = origin
	url = https://github.com/shunkat/origin.git
[submodule "qiita"]
	path = qiita
	url = https://github.com/shunkat/qiita.git
[submodule "zenn"]
	path = zenn
	url = https://github.com/shunkat/zenn.git
[submodule "images"]
	path = images
	url = https://github.com/shunkat/__Backup_Images.git
